doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link rel="manifest" href="/build/manifest.json"/>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    //- <script defer="defer" src="/build/static/js/main.74f657b8.js"></script>
    <link href="/build/static/css/main.f819e6b0.css" rel="stylesheet">
  body
    block content

  script(src="/view/main.js") 

  
