html
  head
    title!= title
  body

    form(action='/register', method='post')

      p 用户注册
      p User Name:
input(type='text',name='username')
p Password:
      input(type='text',name='pwd')
      br
      input(type='submit',value='注册')